<?xml version="1.0"?>
<launch>
    <!-- Arguments -->
    <arg name="base_global_planner" default="navfn/NavfnROS"/>
    <arg name="base_local_planner"  default="base_local_planner/TrajectoryPlannerROS"/>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <!-- A fast, interpolated global planner built as a more flexible replacement to navfn.
         (navfn/NavfnROS, global_planner/GlobalPlanner, carrot_planner/CarrotPlanner) -->
        <param name="base_global_planner"       value="$(arg base_global_planner)"/>
        <!-- provides an interface for local planners used in navigation -->
        <!-- base_local_planner/TrajectoryPlannerROS, eband_local_planner/EBandPlannerROS, teb_local_planner/TebLocalPlannerROS  -->
        <param name="base_local_planner"        value="$(arg base_local_planner)"/>
        
        <rosparam file="$(find prodigimover-small_navigation)/param/costmap_common_params.yaml"             command="load" ns="global_costmap" />
        <rosparam file="$(find prodigimover-small_navigation)/param/costmap_common_params.yaml"             command="load" ns="local_costmap" />
        <rosparam file="$(find prodigimover-small_navigation)/param/local_costmap_params.yaml"              command="load" />
        <rosparam file="$(find prodigimover-small_navigation)/param/global_costmap_params.yaml"             command="load" />
        <rosparam file="$(find prodigimover-small_navigation)/param/base_local_planner_params.yaml"         command="load" />
        <rosparam file="$(find prodigimover-small_navigation)/param/move_base_params.yaml"                  command="load" />

        <remap from="cmd_vel"   to="prodigimover/cmd_vel"/>
        <remap from="odom"      to="prodigimover/odom"/>
        <remap from="scan"      to="/prodigimover/scan"/>
    </node>
</launch>